.button {
    background-color: #fff;
    border: 1px solid #47afc9;
    border-radius: .2rem;
    color: #62919d;
    margin: .5rem;
    height: 2.2rem;
    padding: .5rem;
    font-size: .85rem;
    font-weight: 500;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(224, 221, 221, 0.12);
    color: #47afc9;
    transition: color .3s ease-in-out;
}
