.courses {
    width: 90%;
}

.courses-section {
    display: flex;
    justify-content: space-between;
    margin: .5rem 2rem;
}

.courses-add {
    box-shadow: 0 0 7px 1px rgba(71, 147, 201, 0.45);
    display: flex;
    justify-content: center;
    margin: .5rem 2rem 3rem 2rem;
}

.courses-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
